<header>
	<h1>MOViEIT</h1>
	<ul>
		<a href=""><li>Home</li></a>
		<a href=""><li>About</li></a>
		<a href=""><li>Upcoming Movies</li></a>
	</ul>
	<div class="search-container">
		<div>&nbsp;</div>
		<form>
			<div class="search">
				<span class="fa fa-search"></span>
				<input type="text" class="search-box" placeholder="Let's find your movie..." name="sample" [(ngModel)]="searchMovie" >	
				<app-datepicker></app-datepicker>	
				<button (click)="lookForMovie()">MOViE IT!</button>			
			</div>
		</form>
		<div>&nbsp;</div>
	</div>
	
</header>