/* You can add global styles to this file, and also import other style files */

// FONTS
@import url('https://fonts.googleapis.com/css?family=Exo|Teko|Work+Sans')




//VARIABLES
$font-title:	'Teko', sans-serif
$font-sub-title:	'Exo', sans-serif
$font-regular:	'Work Sans', sans-serif

$color-main:	#FFEB3B;


//MIXINS
=centerSection()
	display: block
	margin: auto


/////////////////////////////


body
	font-family: $font-regular
	background: $color-main